<div class="container"> 
    <mat-toolbar id="toolbar_header" class="header">
        <img id="img_header" class="header-image" src="https://upload.wikimedia.org/wikipedia/commons/3/3d/The_Flintstones.png?20150504060306">
        <button mat-button class="btn-nav" id="btn_header_home" routerLink="/" >Home</button>
        <button mat-button class="btn-nav" id="btn_header_list" routerLink="/list">List</button>
        <button mat-button class="btn-nav" id="btn_header_grid" routerLink="/grid">Grid</button>
        <button mat-button class="btn-nav" id="btn_header_chart" routerLink="/chart">Chart</button>
        <button mat-button class="btn-nav" id="btn_header_chart" routerLink="/tabs">Tabs</button>
    </mat-toolbar>
</div>
