<div id="container_character" class="container">
    <div id="image_container_character" class="landing-image">
        <h1 id="heading_welcome">Welcome to my </h1>
        <img id="image_heading_character" style="max-width: 300px;" src="https://upload.wikimedia.org/wikipedia/commons/3/3d/The_Flintstones.png?20150504060306"> 
        <h1 id="heading_app">app!</h1>
    </div>
    <br>
    <img id="image_characters_character" class="fl-image" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4cb61a69-e35b-4625-9358-bdedd40bc0d3/d5kyva4-3552eacb-4b3c-45af-9795-40ca56673f37.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzRjYjYxYTY5LWUzNWItNDYyNS05MzU4LWJkZWRkNDBiYzBkM1wvZDVreXZhNC0zNTUyZWFjYi00YjNjLTQ1YWYtOTc5NS00MGNhNTY2NzNmMzcucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.OT5pybWjGcWyvrQ2bRJmoDZTvShAcEwoKWi67JsuuBA" alt="Flintstones">
</div>
<router-outlet></router-outlet>
