.spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .background-container {
    width: 100vw;
    height: 100vh;
    background-color: lightblue;
    background-image: url(https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExdjZ4ZGl4eXduOGtzZWk1eHpkemVxbXhiazc2bDZiYXNibGI5bnp2ZCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/HQp9pMIlKV6zQiBlBi/giphy.gif);
    background-size: cover;
    background-position: center;
    overflow: hidden;
  }
  